/* Table CSS */
.table-containers {
	margin-top: 5rem; 
	padding-top: 0rem !important;
}
.bg-info .tr-heading th{
	color: #fff;
}
.tr-heading{
	border-radius: 20px;
	border-bottom: 0.5px solid black !important;
}
.tr-heading th {
	padding: 8px 16px;
	height: 10rem;
}
.tr-heading th a {
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 20px;
	text-decoration: none;
	color: #333;
	transition: all 0.3s ease-in
}
.tr-heading th a.fix {
	background-color: #ffc107;
}
.tr-heading th a.watch {
	background-color: #20c997;
}
.tr-heading th a.delete {
	background-color: #fa5252;
}
.tr-heading th a.class {
	background-color: #c0eb75;
}
tbody tr:nth-child(even){
	background-color: #e9ecef;
}
table {
	border-collapse: collapse;
}

.table-container {
	font-size: 20px;
	width: 100% !important;
}